.product-item { 
    box-shadow: 3px 2px 10px -2px #656565;  
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.product-item .pi-text {
    padding: 10px;
    height: 85px;
}
.pi-pic {
    max-width: 264px;
    min-height: 200px;
}
.pi-pic img {
    width: 264px;
}